body {
  font-family: 'New York', -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#110000, #000011 70%) -300px 300px no-repeat, #000011;
  background-repeat: none;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: 
    repeating-linear-gradient(330deg, #ffa07a09, transparent 40px), 
    repeating-linear-gradient(30deg, #add8e609, transparent 40px), 
    repeating-linear-gradient(90deg, #f7b8de09 25px, transparent 105px);
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.map {
  position: relative;
  left: 0;
  top: 0;
}
.agentMenu {
  position: fixed;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.agentMenu__item {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 300ms, opacity 300ms;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 19px;
}

.isAgentMenu .agentMenu {
  pointer-events: auto;
  opacity: 1;
  user-select: none;
}

.agentMenu__item--concept {
  transform: translateX(11%) translateY(8.5%) rotateX(54.75deg) rotateY(0deg) rotateZ(-315deg);
  background: #ffa07a;
  border-right: 3px solid #974d30;
  border-bottom: 3px solid #0036;
}

.agentMenu__item--book {
  transform: translateY(-173%) translateX(20%) rotateX(54.75deg) rotateY(0deg) rotateZ(-315deg);
  background: #add8e6;
  border-right: 3px solid #3e7a8e;
  border-bottom: 3px solid #709fae;
}

.agentMenu__item--person {
  transform: translateY(-100%) translateX(1%) rotateY(-35.75deg) rotateZ(25deg) rotateX(330deg);
  background: #f8b8de;
  border-top: 3px solid #f8dece;
  border-right: 3px solid #c780be;
}

.agentMenu__item--organization {
  transform: translateX(-79%) translateY(-66%) rotateY(35.75deg) rotateZ(-25deg) rotateX(330deg);
  background: #c6c1c1;
  border-top: 3px solid #ddef;
  border-left: 3px solid #988f;
}

.agentMenu__item--place {
  transform: translate(-50.5%, -47%) rotateX(54.75deg) rotateY(0deg) rotateZ(315deg);
  background: #aaddaa;
  border-left: 3px solid #73a973;
  border-bottom: 3px solid #638863;
}

.agentMenu__item--other {
  transform: translateY(100%) translateX(-50%);
  color: #c6c1c1;
  font-size: 16px;
}

.agentMenu__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.isAgentMenu .agentMenu__item {
  opacity: 1;
}

.agent__label {
  font-size: 24px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2;
  padding: 2px 12px 3px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  max-width: 500px;
}

.agent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.agent:hover .agent__label {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.agent--concept .agent__label {
  background: #ffa07a;
  border-right: 3px solid #974d30;
  border-bottom: 3px solid #0036;
}

.agent--book .agent__label {
  background: #add8e6;
  font-style: italic;
  border-right: 3px solid #3e7a8e;
  border-bottom: 3px solid #709fae;
}

.agent--person .agent__label {
  background: #f8b8de;
  border-top: 3px solid #f8dece;
  border-right: 3px solid #c780be;
}

.agent--organization .agent__label {
  background: #c6c1c1;
  border-top: 3px solid #ddef;
  border-left: 3px solid #988f;
}

.agent--place .agent__label {
  background: #aaddaa;
  border-left: 3px solid #73a973;
  border-bottom: 3px solid #638863;
}

.agent--other .agent__label {
  color: #f7f7cb;
}

.isSelected .agent__label {
  outline: 3px solid white;
}

.connection {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
}

.connection line {
  
}

.relationship {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 2px;
  height: 2px;
  left: 0;
  top: 0;
}

.relationship__label {
  position: absolute;
  padding: 2px 8px 3px;
  line-height: 1;
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.selectionBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  will-change: width;
  will-change: height;
  border: 1px dotted #666;
  transform-origin: 0 0;
  opacity: 0;
  visibility: hidden;
}

.isSelecting .selectionBox {
  opacity: 1;
  visibility: visible;
}

.isSpaceKey {
  cursor: grab;
}